@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: normal;
  outline: none;
  border: 0;
  list-style: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
}

body {
  width: 100%;
  height: 100vh;
  background-color: rgb(255, 255, 255);
}

.wrapper {
  max-width: 1600px;
  margin: auto;
}

.wrapper .cabecalho {
  font-size: 13px;
  padding: 10px 0;
  height: 54px;
}

.wrapper .navegacao {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.wrapper .cabecalho .menu-resp {
  display: none;
}

.content-logos .carrosel-mobile {
  display: none;
}

.slide .carrosel-mobile {
  display: none;
}

.wrapper .navegacao .logo-content {
  display: flex;
  align-items: center;
}

.wrapper .navegacao .logo-content .nav-lista {
  display: flex;
  align-items: center;
  gap: 20px;
}

.wrapper .navegacao .logo-content .nav-lista li a {
  text-decoration: none;
  color: black;
}

.wrapper .navegacao .nav-lista {
  display: flex;
  align-items: center;
  margin: 0;
  gap: 15px;
}

.wrapper .navegacao .nav-lista li a {
  text-decoration: none;
  color: black;
}

.wrapper .navegacao .logo-content .nav-lista li a:hover, .wrapper .navegacao .nav-lista li a:hover {
  text-decoration: underline;
}

section #carouselExample .carousel-inner .carousel-item .content-items {
  position: absolute;
  top: 20%;
  width: 35%;
  margin-left: 7%;
}

section #carouselExample .carousel-inner .carousel-item .content-items h2 {
  font-size: 2.3rem;
  font-weight: 600;
  margin-bottom: 20px;
}

section #carouselExample .carousel-inner .carousel-item .content-items p {
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 50px;
}

section #carouselExample .carousel-inner .carousel-item .content-items button {
  border: 0;
  outline: none;
}

section #carouselExample .carousel-inner .carousel-item .content-items .link {
  text-decoration: none;
  color: #fff;
  background-color: rgb(0, 103, 184);
  padding: 10px 30px;
}

section #carouselExample .carousel-inner .carousel-item .content-items a {
  color: #000;
  margin-right: 20px;
  text-decoration: none;
}

section #carouselExample .carousel-control-prev #icon-prev {
  margin-right: 100px;
}

/*  seção logos */
.content-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  gap: 50px;
}

.content-logo img {
  width: 40px;
}

.content-logo .text-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* seção cards */
.cards-games {
  margin-bottom: 110px;
  display: flex;
  gap: 20px;
}

.cards-games .cards-conteudo {
  width: 360px;
  height: 460px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.264);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cards-games .cards-conteudo img {
  width: 100%;
}

.cards-games .cards-conteudo .text {
  display: flex;
  flex-direction: column;
}

.cards-games .cards-conteudo .text h3 {
  font-weight: bold;
  margin: 25px 0 10px;
  margin-left: 4%;
}

.cards-games .cards-conteudo .text p {
  color: #000;
  margin-left: 4%;
  font-size: 14px;
}

.cards-games .cards-conteudo .botao {
  width: 250px;
  margin: 0 0 6% 4%;
}

.cards-games .cards-conteudo .comprar {
  text-decoration: none;
  background-color: #0067b8;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  width: 100%;
  border-radius: 5px;
}

/* seção banner */
.wrapper .banner {
  position: relative;
}

.wrapper .banner img {
  width: 100%;
}

.wrapper .banner .banner-text {
  position: absolute;
  top: 15%;
  left: 5%;
  width: 450px;
  background-color: #fff;
  padding: 4%;
}

.wrapper .banner .banner-text h2 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
}

.wrapper .banner .banner-text p {
  margin-bottom: 30px;
}

.wrapper .banner .banner-text .comprar {
  text-decoration: none;
  background-color: #0067b8;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
}

.content-logos {
  max-width: 1400px;
  margin: auto;
}

.content-logos .sub-negocios {
  margin: 40px 0 10px;
}

/* sociais */
.sociais {
  display: flex;
  gap: 15px;
  margin-bottom: 120px;
  align-items: center;
}
.sociais img {
  width: 30px;
}
.sociais h3 {
  color: rgba(0, 0, 0, 0.7607843137);
  font-weight: 600;
}

footer {
  background-color: rgba(0, 0, 0, 0.0745098039);
  width: 100%;
}
footer .listas-det {
  display: flex;
  justify-content: center;
  padding: 2%;
  width: 100%;
  gap: 50px;
  margin: auto;
}
footer .listas-det ul h4 {
  color: rgba(0, 0, 0, 0.5215686275);
}
footer .listas-det ul li {
  color: rgba(0, 0, 0, 0.486);
  font-size: 11px;
  line-height: 28px;
  cursor: pointer;
}

footer p {
  padding: 20px;
  color: #000000;
  text-align: center;
}
footer p a {
  color: #082b46;
}

@media screen and (max-width: 830px) {
  .wrapper .cabecalho .nav-lista li a {
    font-size: 1.1rem;
  }
  .wrapper .cabecalho .menu-resp {
    display: block;
  }
  .wrapper .cabecalho .nav-lista {
    display: none;
  }
  .wrapper .cabecalho .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.7411764706);
  }
  .wrapper .cabecalho .dropdown-menu li {
    margin-bottom: 10px;
    padding: 10px 30px;
  }
  .wrapper .cabecalho .dropdown-menu li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
  }
  .wrapper .cabecalho .dropdown-menu li a:hover {
    color: #0067b8;
  }
  .wrapper .slide .carrosel-pc {
    display: none;
  }
  .wrapper .slide .carrosel-mobile {
    display: block;
  }
  .wrapper #carouselExample .carousel-inner .carousel-item .content-items {
    position: static;
    width: 100%;
    height: 320px;
    margin: 0;
    padding: 5%;
  }
  .wrapper .cards-games {
    flex-wrap: wrap;
    justify-content: center;
  }
  .wrapper .cards-games .cards-conteudo p {
    font-size: 1.1rem;
  }
  .wrapper .cards-games .cards-conteudo .botao {
    width: 100%;
    display: block;
    text-align: center;
    margin-left: 0;
  }
  .wrapper .sub-negocios {
    text-align: center;
    margin-bottom: 20px;
  }
  .wrapper .banner .banner-text {
    position: static;
    width: 100%;
  }
  .wrapper .banner .banner-text h2 {
    font-size: 2.3rem;
  }
  .wrapper .banner .banner-text p {
    font-size: 1.2rem;
  }
  .wrapper .sociais {
    justify-content: center;
  }
  .wrapper footer .listas-det {
    flex-direction: column;
  }
  .wrapper footer .listas-det li {
    font-size: 1.1rem;
    line-height: 34px;
  }
}
@media screen and (max-width: 480px) {
  .wrapper .cabecalho .navegacao .nav-lista {
    display: none;
  }
  .wrapper .cabecalho .navegacao .menu-resp {
    display: flex;
  }
  section .slide .carrosel-pc {
    display: none;
  }
  section .slide .carrosel-mobile {
    display: block;
  }
  section #carouselExample .carousel-inner .carousel-item .content-items {
    position: static;
    width: 90%;
    height: 290px;
  }
  section #carouselExample .carousel-inner .carousel-item .content-items h2 {
    font-size: 1.5rem;
    margin: 20px 0;
  }
  section #carouselExample .carousel-inner .carousel-item .content-items a {
    display: block;
    text-align: center;
  }
  .content-logo {
    flex-direction: column;
    align-items: center;
  }
  .cards-games {
    flex-wrap: wrap;
    text-align: center;
    padding: 2%;
  }
  .cards-games .cards-conteudo .botao {
    display: block;
    width: auto;
    text-align: center;
  }
  .content-logos .sub-negocios {
    text-align: center;
  }
  .content-logos .banner .carrosel-pc {
    display: none;
  }
  .content-logos .banner .banner-text {
    position: static;
    width: 100%;
    text-align: center;
  }
  .content-logos .banner .banner-text h2 {
    margin: 15px 0;
  }
  .sociais {
    flex-direction: column;
  }
  .sociais img {
    width: 60px;
    cursor: pointer;
  }
  footer .listas-det {
    flex-direction: column;
  }
}/*# sourceMappingURL=css.css.map */